*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
    font-family: 'Rubik';

}

.App {

  display: flex;
  flex-direction: column;
  align-items: center;
      background-color: #F2F2F2;
}
.container {
  display: flex;
 flex-direction: column;

}
.card-comment {
background-color: white;
display: flex;
/* flex-direction: column; */
gap:20px;
/* width: 730px;
height: 167px; */
width: 100%;
margin-top: 50px;
border-radius: 10px;
margin-top: 40px;
padding: 15px 10px;
  box-sizing: border-box;
  position: relative;

}
.header-person {
  display: flex;
  justify-content: space-around;
  gap:20px;
}
.info-person,.reply{
  display: flex;
  align-items: center;
  gap:10px;

}
.info-person > p {
  color:#67727E;
  line-height: 24px;
  font-weight: 400;
}
.reply > h4 {
  color:#5357B6;

  font-weight: 500;
}
.post {
  color: #67727E;
  font-weight: 400;
}
.post-info {
  margin: 10px;
}
.container-btns {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #F5F6FA;
  width: 40px;
  height: 100px;
  justify-content: space-between;
  border-radius: 5px;
}

.container-btns > button {
  border: none;
  background: none;
  color:#C5C6EF;
}
.count{
  color:#5357B6;

}
.reply{
  cursor: pointer;
}
.reply-input {
  /* all:unset */
  display: flex;
  justify-content: space-around;
  width: 100%;
}
.input-reply{
  padding: 10px 15px;
  height: 100px;
  width: 400px;
  border-radius: 5px;
  border: 1px solid #5357B6;

}
.btn-reply {
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  background-color: #5357B6;
  color:white;
 

}
input:focus {
  outline: none;
}
.replies {
 
  position: relative;
   left: 50px;
  /* top:90%; */
  display: flex;
  flex-direction: column; 
  /* bottom: 150px;
  right: 20px; */
}
.comment {
  width: 60%;
}
form {
  display: flex;
  align-items: center;
  gap:20px;
}
.actions-button{
  display: flex;
  align-items: center;
  gap:10px;
}